 .u-section-1 {
  background-image: none;
  min-height: 924px;
}

.u-section-1 .u-gallery-1 {
  width: 750px;
  height: 824px;
  margin: 50px 0 0 auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding: 10px 0 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 440px);
  margin: -601px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 27px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 64px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1481px;
  }

  .u-section-1 .u-gallery-1 {
    width: calc(((100% - 940px) / 2) + 972px);
    margin-top: 607px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1396px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 522px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    padding: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 79px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 66px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1430px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 384px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1173px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    margin-top: 412px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 82px;
    height: 82px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 82px;
    height: 82px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1202px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1006px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 417px;
    height: 549px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 78px;
    height: 78px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 78px;
    height: 78px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 78px;
    height: 78px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 78px;
    height: 78px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 48px;
    height: 48px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 48px;
    height: 48px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -943px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 24px;
    margin-right: 24px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1256px;
}

.u-section-2 .u-post-details-1 {
  min-height: 1442px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 641px;
  width: 1140px;
  margin: 80px 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 25px 30px 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 25px 30px 0;
}

.u-section-2 .u-text-3 {
  background-image: none;
  font-size: 1.5rem;
  margin: 30px 30px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 529px;
    margin-top: 0;
    width: 940px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 261px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 122px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-2 .u-image-1 {
    height: 423px;
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 86px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-2 .u-post-details-1 {
    min-height: 1472px;
  }

  .u-section-2 .u-image-1 {
    height: 354px;
    margin-top: 9px;
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 57px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 31px;
    margin-right: -2px;
    margin-left: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1538px;
  }

  .u-section-2 .u-post-details-1 {
    margin-bottom: 6px;
  }

  .u-section-2 .u-image-1 {
    height: 275px;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 23px;
    margin-right: 3px;
    margin-left: -2px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1748px;
}

.u-section-3 .u-post-details-1 {
  min-height: 1688px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 19px 0;
}

.u-section-3 .u-image-1 {
  width: 1129px;
  height: 667px;
  margin: 73px 11px 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 73px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 40px 30px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: 940px;
    height: 555px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1834px;
  }

  .u-section-3 .u-post-details-1 {
    margin-bottom: 1px;
    min-height: 1773px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 425px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 47px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1433px;
  }

  .u-section-3 .u-post-details-1 {
    margin-top: -302px;
    margin-bottom: 60px;
    min-height: 1565px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    height: 319px;
    margin-top: 177px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 31px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 47px;
    margin-bottom: -97px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1636px;
  }

  .u-section-3 .u-post-details-1 {
    margin-top: 58px;
    min-height: 1579px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 36px;
    margin-right: -5px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 11px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1772px;
}

.u-section-4 .u-post-details-1 {
  min-height: 1692px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 768px;
  margin-top: 101px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 42px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 60px 30px 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 25px auto -46px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-4 .u-image-1 {
    height: 423px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1752px;
  }

  .u-section-4 .u-image-1 {
    height: 354px;
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1562px;
  }

  .u-section-4 .u-post-details-1 {
    margin-bottom: 0;
    min-height: 1562px;
  }

  .u-section-4 .u-image-1 {
    height: 275px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1991px;
}

.u-section-5 .u-post-details-1 {
  min-height: 1025px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-image-1 {
  height: 939px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 59px 30px 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 26px auto 60px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1497px;
  }

  .u-section-5 .u-post-details-1 {
    min-height: 473px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-5 .u-image-1 {
    height: 423px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 69px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin: 60px 0 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    height: 354px;
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1430px;
  }

  .u-section-5 .u-post-details-1 {
    min-height: 460px;
  }

  .u-section-5 .u-image-1 {
    height: 275px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -100px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 48px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 31px;
    margin-bottom: 10px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 2201px;
}

.u-section-6 .u-post-details-1 {
  min-height: 2142px;
  margin-top: 59px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-6 .u-image-1 {
  height: 781px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 113px 30px 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 121px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2126px;
  }

  .u-section-6 .u-post-details-1 {
    min-height: 2067px;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 68px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 78px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2315px;
  }

  .u-section-6 .u-post-details-1 {
    margin-bottom: 25px;
    min-height: 2231px;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 29px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2113px;
  }

  .u-section-6 .u-post-details-1 {
    min-height: 2054px;
    width: auto;
  }

  .u-section-6 .u-image-1 {
    height: 216px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 38px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 47px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 30px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1633px;
}

.u-section-7 .u-post-details-1 {
  min-height: 774px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 21px;
}

.u-section-7 .u-image-1 {
  height: 721px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 37px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 74px 30px 0;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  margin: 42px auto 60px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 93px;
    margin-right: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1510px;
  }

  .u-section-7 .u-image-1 {
    height: 394px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -322px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 38px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1506px;
}

.u-section-8 .u-post-details-1 {
  min-height: 546px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-8 .u-image-1 {
  height: 704px;
  margin-top: 30px;
  margin-bottom: -217px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 235px auto 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 74px 30px 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 50px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-left: 64px;
    margin-right: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-8 .u-image-1 {
    height: 423px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -45px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin: 60px auto 10px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 354px;
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    height: 275px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1389px;
}

.u-section-9 .u-post-details-1 {
  min-height: 765px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  height: 675px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  margin: 74px 30px 0;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 50px 307px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-1 {
    margin-top: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-9 .u-image-1 {
    height: 423px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: -280px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    height: 354px;
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-9 .u-image-1 {
    height: 275px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -347px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 104px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1858px;
}

.u-section-10 .u-post-details-1 {
  min-height: 639px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-1 {
  padding: 0;
}

.u-section-10 .u-image-1 {
  height: 760px;
  margin-top: 28px;
  margin-bottom: -148px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 199px auto 0;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  margin: 74px 30px 0;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  margin: 41px auto 60px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-image-1 {
    margin-top: 0;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    margin-left: 64px;
    margin-right: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1631px;
  }

  .u-section-10 .u-image-1 {
    height: 423px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: -170px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin: 42px 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-1 {
    height: 354px;
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1912px;
  }

  .u-section-10 .u-image-1 {
    height: 275px;
  }

  .u-section-10 .u-text-1 {
    margin-top: -287px;
    margin-left: 9px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 68px;
  }

  .u-section-10 .u-text-3 {
    margin: 41px -37px 60px -50px;
  }
}